<form action="/user/insert-address" method="POST">
    <input type="text" name="user_id" id="" placeholder="ques">
    <input type="text" name="address" placeholder="opt1" id="">
    <input type="text" name="city" placeholder="opt2" id="">
    <input type="text" name="state" placeholder="opt3" id="">
    <input type="text" name="mobile_no" placeholder="opt4" id="">
    <input type="text" name="landmark" placeholder="sub" id="">
   <button type="submit">CLick</button>
</form> 

<!-- <form class="deleteForm" action="/user/delete-address/2?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-outline-danger">Delete</button>
</form> -->