<form action="/post-direct-order" method="POST" enctype="multipart/form-data">
    <input type="text" name="user_id" id="" placeholder="id">
    <input type="text" name="address_id" id="" placeholder="address_id">
    
    <input type="file" accept="image/*" name="productImage" >
   <button type="submit">CLick</button>
</form> 

<form class="deleteForm" action="/delete-direct-order-byuser_id/1?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-outline-danger">Delete</button>
</form>

