<form action="/insert-medicine" method="POST">
    <input type="text" name="medicine_name" id="" placeholder="ques">
    <input type="text" name="type" placeholder="opt1" id="">
    <input type="text" name="parent_company" placeholder="opt2" id="">
    <input type="text" name="price" placeholder="opt3" id="">
    <input type="text" name="product_description" placeholder="opt4" id="">
    <input type="text" name="discount_price" placeholder="sub" id="">
    <input type="text" name="taxable" placeholder="top" id="">
<!--     <input type="text" name="answer" placeholder="asnwer" id=""> 
 -->    <button type="submit">CLick</button>
</form> 

<!-- <form class="deleteForm" action="/delete-medicine/2?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-outline-danger">Delete</button>
</form> -->